{% block tmwk_recaptcha_widget %}
    {% set form_id = form.vars.id %}



        {% if not captcha_invisible and label == false %}
            {#<p>{{ 'recaptcha.widget-label'|trans({}, "TMWKRecapcha3Bundle") }}</p>#}
        {% endif %}

        {% if form_error %}
            <div id="form_name_errors" class="mb-2"><span class="invalid-feedback d-block"><span class="d-block">
                    <span class="form-error-icon badge badge-danger text-uppercase">Error</span> <span class="form-error-message"> {{ form_error }}</span>
                </span></span></div>

        {% endif %}


        {% if captcha_invisible %}
            <div class="g-recaptcha"
                 data-sitekey="{{ public_key }}"
                 data-size="invisible"
                 data-callback="formSubmit">
            </div>

            <script type="text/javascript">
                $('#{{ form_id }}').submit(function (event) {
                    event.preventDefault();
                    grecaptcha.reset();
                    grecaptcha.execute();
                });

                function formSubmit(response) {
                    document.getElementById('{{ form_id }}').submit();
                }
            </script>

        {% else %}
            <div class="g-recaptcha" data-sitekey="{{ public_key }}"></div>
        {% endif %}



        <script src="{{ js_api_url }}?lang={{ lang }}" async defer></script>
{% endblock tmwk_recaptcha_widget %}